<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>'Allo, 'Allo <span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>
<div class="container">
	<div class="row" ng-controller="chatCtrl">
		<div class="chat-box">
			<div class="users">
				<span ng-repeat="user in users" ng-bind="user">&nbsp;</span>
			</div>
			<div class="chat-messages">
				<div class="message-container" ng-repeat="message in messages">
					<div class="message">
						<span ng-bind="message.user"></span>: &nbsp;
						<p class="message-text" ng-bind="message.text"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="chat-input">
			<form class="form form-horizontal" ng-submit="sendMessage()">
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default" >Guest</button>
					</span>
					<input type="text" ng-model="message" class="form-control">	
					<span class="input-group-btn">
						<button class="btn btn-default">Send</button>
					</span>
				</div>	
			</form>
		</div>
	 </div>
  </div>
</div>
<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
